:root {
    /** Normal **/
    --ion-color-normal: #f4f4f4;
    --ion-color-normal-rgb: 244, 244, 244;
    --ion-color-normal-contrast: #000000;
    --ion-color-normal-contrast-rgb: 0, 0, 0;
    --ion-color-normal-shade: #d7d7d7;
    --ion-color-normal-tint: #f5f5f5;

    /** Grass **/
    --ion-color-grass: #9bcc50;
    --ion-color-grass-rgb: 155, 204, 80;
    --ion-color-grass-contrast: #000000;
    --ion-color-grass-contrast-rgb: 0, 0, 0;
    --ion-color-grass-shade: #88b446;
    --ion-color-grass-tint: #a5d162;

    /** Fire **/
    --ion-color-fire: #fd7d24;
    --ion-color-fire-rgb: 253, 125, 36;
    --ion-color-fire-contrast: #000000;
    --ion-color-fire-contrast-rgb: 0, 0, 0;
    --ion-color-fire-shade: #df6e20;
    --ion-color-fire-tint: #fd8a3a;

    /** Water **/
    --ion-color-water: #4592c4;
    --ion-color-water-rgb: 69, 146, 196;
    --ion-color-water-contrast: #000000;
    --ion-color-water-contrast-rgb: 0, 0, 0;
    --ion-color-water-shade: #3d80ac;
    --ion-color-water-tint: #589dca;

    /** Eletric **/
    --ion-color-eletric: #ffff00;
    --ion-color-eletric-rgb: 255, 255, 0;
    --ion-color-eletric-contrast: #000000;
    --ion-color-eletric-contrast-rgb: 0, 0, 0;
    --ion-color-eletric-shade: #e0e000;
    --ion-color-eletric-tint: #ffff1a;

    /** Psychic **/
    --ion-color-psychic: #f366b9;
    --ion-color-psychic-rgb: 243, 102, 185;
    --ion-color-psychic-contrast: #000000;
    --ion-color-psychic-contrast-rgb: 0, 0, 0;
    --ion-color-psychic-shade: #d65aa3;
    --ion-color-psychic-tint: #f475c0;

    /** Fighting **/
    --ion-color-fighting: #f16e57;
    --ion-color-fighting-rgb: 241, 110, 87;
    --ion-color-fighting-contrast: #000000;
    --ion-color-fighting-contrast-rgb: 0, 0, 0;
    --ion-color-fighting-shade: #d4614d;
    --ion-color-fighting-tint: #f27d68;

    /** Dark **/
    --ion-color-darkness: #707070;
    --ion-color-darkness-rgb: 112, 112, 112;
    --ion-color-darkness-contrast: #ffffff;
    --ion-color-darkness-contrast-rgb: 255, 255, 255;
    --ion-color-darkness-shade: #636363;
    --ion-color-darkness-tint: #7e7e7e;

    /** Stell **/
    --ion-color-stell: #c0c0c0;
    --ion-color-stell-rgb: 192, 192, 192;
    --ion-color-stell-contrast: #000000;
    --ion-color-stell-contrast-rgb: 0, 0, 0;
    --ion-color-stell-shade: #a9a9a9;
    --ion-color-stell-tint: #c6c6c6;

    /** Fairy **/
    --ion-color-fairy: #fdb9e9;
    --ion-color-fairy-rgb: 253, 185, 233;
    --ion-color-fairy-contrast: #000000;
    --ion-color-fairy-contrast-rgb: 0, 0, 0;
    --ion-color-fairy-shade: #dfa3cd;
    --ion-color-fairy-tint: #fdc0eb;

    /** Dragon **/
    --ion-color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    --ion-color-dragon-rgb: 83, 164, 207;
    --ion-color-dragon-contrast: #000000;
    --ion-color-dragon-contrast-rgb: 0, 0, 0;
    --ion-color-dragon-shade: #4990b6;
    --ion-color-dragon-tint: #64add4;

    /** Bug **/
    --ion-color-bug: #729f3f;
    --ion-color-bug-rgb: 114, 159, 63;
    --ion-color-bug-contrast: #000000;
    --ion-color-bug-contrast-rgb: 0, 0, 0;
    --ion-color-bug-shade: #648c37;
    --ion-color-bug-tint: #80a952;

    /** Ghost **/
    --ion-color-ghost: #7b62a3;
    --ion-color-ghost-rgb: 123, 98, 163;
    --ion-color-ghost-contrast: #ffffff;
    --ion-color-ghost-contrast-rgb: 255, 255, 255;
    --ion-color-ghost-shade: #6c568f;
    --ion-color-ghost-tint: #8872ac;

    /** Ground **/
    --ion-color-ground: #8b4513;
    --ion-color-ground-rgb: 139, 69, 19;
    --ion-color-ground-contrast: #ffffff;
    --ion-color-ground-contrast-rgb: 255, 255, 255;
    --ion-color-ground-shade: #7a3d11;
    --ion-color-ground-tint: #97582b;

    /** Flying **/
    --ion-color-fly: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    --ion-color-fly-rgb: 61, 199, 239;
    --ion-color-fly-contrast: #000000;
    --ion-color-fly-contrast-rgb: 0, 0, 0;
    --ion-color-fly-shade: #36afd2;
    --ion-color-fly-tint: #50cdf1;

    /** Rock **/
    --ion-color-rock: #808080;
    --ion-color-rock-rgb: 128, 128, 128;
    --ion-color-rock-contrast: #000000;
    --ion-color-rock-contrast-rgb: 0, 0, 0;
    --ion-color-rock-shade: #717171;
    --ion-color-rock-tint: #8d8d8d;

    /** Ice **/
    --ion-color-ice: #51c4e7;
    --ion-color-ice-rgb: 81, 196, 231;
    --ion-color-ice-contrast: #000000;
    --ion-color-ice-contrast-rgb: 0, 0, 0;
    --ion-color-ice-shade: #47accb;
    --ion-color-ice-tint: #62cae9;

    /** Poison **/
    --ion-color-poison: #b97fc9;
    --ion-color-poison-rgb: 185, 127, 201;
    --ion-color-poison-contrast: #000000;
    --ion-color-poison-contrast-rgb: 0, 0, 0;
    --ion-color-poison-shade: #a370b1;
    --ion-color-poison-tint: #c08cce;
}

/** Normal **/
.ion-color-normal {
    --ion-color-base: var(--ion-color-normal) !important;
    --ion-color-base-rgb: var(--ion-color-normal-rgb) !important;
    --ion-color-contrast: var(--ion-color-normal-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-normal-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-normal-shade) !important;
    --ion-color-tint: var(--ion-color-normal-tint) !important;
}

/** Grass **/
.ion-color-grass {
    --ion-color-base: var(--ion-color-grass) !important;
    --ion-color-base-rgb: var(--ion-color-grass-rgb) !important;
    --ion-color-contrast: var(--ion-color-grass-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-grass-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-grass-shade) !important;
    --ion-color-tint: var(--ion-color-grass-tint) !important;
}

/** Fire **/
.ion-color-fire {
    --ion-color-base: var(--ion-color-fire) !important;
    --ion-color-base-rgb: var(--ion-color-fire-rgb) !important;
    --ion-color-contrast: var(--ion-color-fire-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-fire-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-fire-shade) !important;
    --ion-color-tint: var(--ion-color-fire-tint) !important;
}

/** Water **/
.ion-color-water {
    --ion-color-base: var(--ion-color-water) !important;
    --ion-color-base-rgb: var(--ion-color-water-rgb) !important;
    --ion-color-contrast: var(--ion-color-water-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-water-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-water-shade) !important;
    --ion-color-tint: var(--ion-color-water-tint) !important;
}

/** Eletric **/
.ion-color-eletric {
    --ion-color-base: var(--ion-color-eletric) !important;
    --ion-color-base-rgb: var(--ion-color-eletric-rgb) !important;
    --ion-color-contrast: var(--ion-color-eletric-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-eletric-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-eletric-shade) !important;
    --ion-color-tint: var(--ion-color-eletric-tint) !important;
}

/** Psychic **/
.ion-color-psychic {
    --ion-color-base: var(--ion-color-psychic) !important;
    --ion-color-base-rgb: var(--ion-color-psychic-rgb) !important;
    --ion-color-contrast: var(--ion-color-psychic-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-psychic-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-psychic-shade) !important;
    --ion-color-tint: var(--ion-color-psychic-tint) !important;
}

/** Fighting **/
.ion-color- {
    --ion-color-base: var(--ion-color-fighting) !important;
    --ion-color-base-rgb: var(--ion-color-fighting-rgb) !important;
    --ion-color-contrast: var(--ion-color-fighting-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-fighting-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-fighting-shade) !important;
    --ion-color-tint: var(--ion-color-fighting-tint) !important;
}

/** Dark **/
.ion-color-darkness {
    --ion-color-base: var(--ion-color-darkness) !important;
    --ion-color-base-rgb: var(--ion-color-darkness-rgb) !important;
    --ion-color-contrast: var(--ion-color-darkness-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-darkness-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-darkness-shade) !important;
    --ion-color-tint: var(--ion-color-darkness-tint) !important;
}

/** Stell **/
.ion-color-stell {
    --ion-color-base: var(--ion-color-stell) !important;
    --ion-color-base-rgb: var(--ion-color-stell-rgb) !important;
    --ion-color-contrast: var(--ion-color-stell-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-stell-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-stell-shade) !important;
    --ion-color-tint: var(--ion-color-stell-tint) !important;
}

/** Fairy **/
.ion-color-fairy {
    --ion-color-base: var(--ion-color-fairy) !important;
    --ion-color-base-rgb: var(--ion-color-fairy-rgb) !important;
    --ion-color-contrast: var(--ion-color-fairy-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-fairy-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-fairy-shade) !important;
    --ion-color-tint: var(--ion-color-fairy-tint) !important;
}

/** Dragon **/
.ion-color-dragon {
    --ion-color-base: var(--ion-color-dragon) !important;
    --ion-color-base-rgb: var(--ion-color-dragon-rgb) !important;
    --ion-color-contrast: var(--ion-color-dragon-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-dragon-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-dragon-shade) !important;
    --ion-color-tint: var(--ion-color-dragon-tint) !important;
}

/** Bug **/
.ion-color-bug {
    --ion-color-base: var(--ion-color-bug) !important;
    --ion-color-base-rgb: var(--ion-color-bug-rgb) !important;
    --ion-color-contrast: var(--ion-color-bug-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-bug-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-bug-shade) !important;
    --ion-color-tint: var(--ion-color-bug-tint) !important;
}

/** Ghost **/
.ion-color-ghost {
    --ion-color-base: var(--ion-color-ghost) !important;
    --ion-color-base-rgb: var(--ion-color-ghost-rgb) !important;
    --ion-color-contrast: var(--ion-color-ghost-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-ghost-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-ghost-shade) !important;
    --ion-color-tint: var(--ion-color-ghost-tint) !important;
}

/** Ground **/
.ion-color-ground {
    --ion-color-base: var(--ion-color-ground) !important;
    --ion-color-base-rgb: var(--ion-color-ground-rgb) !important;
    --ion-color-contrast: var(--ion-color-ground-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-ground-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-ground-shade) !important;
    --ion-color-tint: var(--ion-color-ground-tint) !important;
}

/** Flying **/
.ion-color-fly {
    --ion-color-base: var(--ion-color-fly) !important;
    --ion-color-base-rgb: var(--ion-color-fly-rgb) !important;
    --ion-color-contrast: var(--ion-color-fly-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-fly-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-fly-shade) !important;
    --ion-color-tint: var(--ion-color-fly-tint) !important;
}

/** Rock **/
.ion-color-rock {
    --ion-color-base: var(--ion-color-rock) !important;
    --ion-color-base-rgb: var(--ion-color-rock-rgb) !important;
    --ion-color-contrast: var(--ion-color-rock-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-rock-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-rock-shade) !important;
    --ion-color-tint: var(--ion-color-rock-tint) !important;
}

/** Ice **/
.ion-color-ice {
    --ion-color-base: var(--ion-color-ice) !important;
    --ion-color-base-rgb: var(--ion-color-ice-rgb) !important;
    --ion-color-contrast: var(--ion-color-ice-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-ice-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-ice-shade) !important;
    --ion-color-tint: var(--ion-color-ice-tint) !important;
}

/** Poison **/
.ion-color-poison {
    --ion-color-base: var(--ion-color-poison) !important;
    --ion-color-base-rgb: var(--ion-color-poison-rgb) !important;
    --ion-color-contrast: var(--ion-color-poison-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-poison-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-poison-shade) !important;
    --ion-color-tint: var(--ion-color-poison-tint) !important;
}