<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Pokemons</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="warning">
  <ion-searchbar (ionInput)="buscaPokemon($event)" placeholder="Buscar por nome" color="light"></ion-searchbar>
</ion-toolbar>

<ion-content color="medium">
  <ion-list color="light">

    <!-- habilita as opções do item -->
    <ion-item-sliding *ngFor="let pokemon of listaFiltrada">
      <!-- dados do pokemon -->
      <ion-item [routerLink]="'/' + pokemon.nome | lowercase ">
        <ion-chip [color]="pokemon.tipos[0]" slot="start">{{pokemon.numero}}</ion-chip>
        <ion-label>
          <h2>{{pokemon.nome}}</h2>
          <ion-badge *ngFor="let tipo of pokemon.tipos" [color]="tipo">{{tipo}}</ion-badge>
        </ion-label>
        <ion-thumbnail slot="end">
          <img [src]="urlImg + pokemon.img">
        </ion-thumbnail>
      </ion-item>
      <!-- Opção do pokemon -->
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="verPokemon(pokemon.numero)">
          <h1>
            <ion-icon name="star"></ion-icon>
          </h1>
        </ion-item-option>
        <ion-item-option color="danger">
          <h1>
            <ion-icon name="share"></ion-icon>
          </h1>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
</ion-content>