<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>
      Pokedex Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium" fullscreen>

  <a routerLink="/lista-pokemons">
    <ion-card color="light">
      <ion-card-content>
        <ion-img src="assets/button_pokemons.png"> </ion-img>
      </ion-card-content>
    </ion-card>
  </a>
  <a routerLink="/tipos-pokemons">
    <ion-card color="light">
      <ion-card-content>
        <ion-img src="assets/button_tipos.png"> </ion-img>
      </ion-card-content>
    </ion-card>
  </a>

</ion-content>